body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.StripeElement {
  height: 40px;
  padding: 10px 12px;
  width: 30%;
  color: #32325d;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.productCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: black dashed 2px;
  border-bottom: black dashed 2px;
  height: 400px;
  margin: 10px;
}

.singleProductContainer {
  display: flex;
  flex-direction: row;
}

.singleProduct {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
}

.productImg {
  height: 300px;
}
